.Navbar{
  
   width: 100vh;
   height: 40px;
   position: fixed;
   top: 0;
   font-size: large;
   background-color: lightcoral;
   display: flex;
   
   justify-content: space-around;
   

}



.footer{
    padding: 0;
    margin: 0;
    width: 100vh;
    height: 40px;
    font-size: large;
    background-color: lightcoral;
    position: fixed;
    bottom: 0;
}